doctype html

html
    head
        title= title
        style
            | pre { width: 100%; overflow-x: auto }

        base(href=baseUrl + '/')
        link(rel='stylesheet' href='style.css')
    body
        block content