extends layout

block content
    if error
        p= error
    form(action="/auth/signin", method="POST" class="row")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="challenge", value=challenge)
        div(class="col50")
            fieldset
                h3 Sign in
                p Please sign in with your Data-Centric Design Hub credentials.
                table(style="")
                    tr
                        td
                            | Email:
                        td
                            input(type="email", name="email")
                    tr
                        td
                            | Password:
                        td
                            input(type="password", name="password")
                label(for="remember") Remember me
                    input(id="remember", type="checkbox", name="remember", value="1", class="box")
                input(type="submit", id="submit", name="submit", value="Sign in", class="btn green")

                a(href="/auth/signup?_csrf=" + csrfToken + " &login_challenge=" + challenge).
                    Not yet an account? Sign up

