extends layout

block content
    if error
        p= error
    form(action="/auth/signin", method="POST" class="row")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="challenge", value=challenge)
        div(class="col50")
            fieldset
                h3 Sign in
                p Please sign in with your Data-Centric Design Hub credentials.
                label(for="email") Email
                    input(id="email", type="email", name="email")
                label(for="password") Password
                    input(id="password", type="password", name="password")
                label(for="remember")
                    input(id="remember", type="checkbox", name="remember", value="1")
                input(type="submit", id="submit", name="Submit", value="1")

                a(href="/auth/signup?_csrf=" + csrfToken + " &login_challenge=" + challenge).
                    Not yet an account? Sign up

